<section id="products" class="container">
    
    <h1 id="title">Producto {{product.title}}</h1>

    <div id="products-container">
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4">
                    <img class="img-fluid rounded-start" src="{{product.thumbnail}}">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{product.title}}</h5>
                        <p class="card-text">{{product.description}}</p>
                        <p class="card-text">${{product.price}}</p>
                        <p class="card-text">ID: {{product._id}}</p>
                        <p class="card-text">Stock: {{product.stock}}</p>
                        <p class="card-text">Categoria: {{product.category}}</p>
                        <div id="botonera">
                                <a href="http://localhost:8080/products/{{this._id}}"><button type="button" class="btn btn-primary">Ver más</button></a>
                                <form action="http://localhost:8080/api/carts/6474b02395e35b192ca0b1aa/products/{{this._id}}" method="post">
                                    <input type="submit" class="btn btn-dark" value="Agregar al carrito">
                                </form>
                                
                                <div id="plusMinus">
                                    <button id="plus">+</button>
                                    <p id="quantity">0</p>
                                    <button id="minus">-</button>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
